pedestrians128x64
pedestrians_neg
*.dSYM
.cproject
Debug
Release
.DS_Store
.idea
.project
.pydevproject
__pycache__
metastore_db
*.log
*.pyc
.*~
*~
#*
.#*
.classpath
.settings
target

#----------------------
*.egg-info
dist
*.stackdump
nohup.out
*.rda
cache
log
logs
*.Rproj
.Rproj.user
.Rhistory
Thumbs.db
build
.metadata
*.class
.pydev*
metastore_db
