.cproject
Debug
Release
.DS_Store
.ipynb*
.idea
.project
.pydevproject
__pycache__
metastore_db
*.log
*.pyc
.*~
*~
#*
.#*
.classpath
.settings
target

#----------------------
*.egg-info
dist
*.stackdump
nohup.out
*.rda
cache
log
logs
1*.*
2*.*
3*.*
4*.*
5*.*
6*.*
7*.*
*.Rproj
.Rproj.user
.Rhistory
Thumbs.db
[0-9]*
build
.metadata
*.class
.pydev*
metastore_db
