# odbc.ini and keytab files have passwords
odbc.ini
*.keytab

#----------------------
*.egg-info
dist
id.txt
*.stackdump
nohup.out
.ipynb*
__pycache__
.idea
*.pdf
*.rda
cache
spark_cache
log
logs
*.log
1*.*
2*.*
3*.*
4*.*
5*.*
6*.*
7*.*
*.Rproj
.Rproj.user
.Rhistory
Thumbs.db
[0-9]*
target
.settings
.classpath
.project
build
.metadata
model_output
.log
*~
.*~
*.class
.pydev*
*.pyc
metastore_db
