aws
awscli
boto3
docker
editdistance
Flask
jupyter
matplotlib
numpy
opencv-python
opencv-contrib-python
pandas
s3fs
sagemaker
scikit-image
scikit-learn
scipy
Shapely
tensorflow
virtualenv
keras
theano
